body {
    background-color: black;
    color: whitesmoke;
    font-family: Roboto, sans-serif;
    margin: 0;
}

a {
    color: gray;
    text-decoration: none;
}

.container-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100vh;
}

.header-box{
    text-align: center;
    width: 300px;
    border-bottom: 1px solid whitesmoke;
}

.content-box{
    width: 175px;
    padding: 5px 10px;
    border-color: white;
    border-style: solid;
    border-width: 0 0 0 1px;
}

.content-box:hover{
    background-color: #111;
}

.content-box:hover > a{
    color: whitesmoke;
    font-weight: bold;
}